/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

#Common
/logs/
/bin/

#Gradle
/.gradle/
/build/

#Maven
/target

#Web
/node_modules/
/src/main/assets
/src/main/resources/public

#Bower
/bower_components/

#Eclipse
.project
.classpath
.settings
target/
logs/

#Idea
.idea/
*.iml

#Other
.log
.DS_Store
mvnw*
.mvn/
.*.swp
/application.properties
/*.db
record-stream.log
